@import "tailwindcss";
@import "@raydenui/ui/styles.css";
@import "@raydenui/ui/fonts.css";

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
